extends root.pug

append links
    link(href="/css/nav.css", rel="stylesheet", type="text/css")

append scripts
    script(src="/js/nav-interact.js")

block nav
    nav(id="main-nav" class="closed")
        div(id="nav-open-close")
            div(id="nav-btn-ctr")
                div(class="nav-btn-bar top")
                div(class="nav-btn-bar mid")
                div(class="nav-btn-bar bot")
        ul(class="plain")
            each path, displayName in navlist
                li(class="plain")
                    a(href=path, class="plain") #{displayName}
        div(id="nav-click-catcher")