<!DOCTYPE html>
//- fix id to be id-like always (consider titles with spaces, etc.)
html(lang="en", id=title)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(id="mobile-address-bar-color", name="theme-color", content="")
        title #{title}

        block links
            link(href="/css/site.css", rel="stylesheet", type="text/css")
            link(href="/css/elements.css", rel="stylesheet", type="text/css")

        block scripts
            script(src="/js/util.js")
            script(src="/js/theme.js")

    body
        main
            header(id="page-title")
                h1 #{title}
            block content
        block nav