extends layout-with-nav.pug

append links
    link(href="/css/wiki.css", rel="stylesheet", type="text/css")

block content
    article
        div(id="toc")
            ol
                each section in wiki_content.sections
                    li
                        a(class="plain", href="#"+section.slug) #{section.title}
        each section in wiki_content.sections
            h2(id=section.slug) #{section.title}
            p #{section.content}