nav#main-nav {
    box-sizing: border-box;
    /* position: absolute; */
    position: fixed;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    transition-property: left;
    transition-duration: 0.35s;
    user-select: none;
}

nav#main-nav.closed {
    left: -100%;
}

nav#main-nav.open {
    left: 0;
}

nav#main-nav > #nav-open-close {
    height: 4.5em; /* see also nav#main-nav > ul margin-top */
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/* Overall clickable hamborgar butan dims:
 * width: 3.9em;  // equal to left of header#page-title
 * height: 4.5em;
 */
nav#main-nav > #nav-open-close > #nav-btn-ctr {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 5em; */
    padding: 1.5875em 1em; /* height should total 4.5em to match nav#main-nav > #nav-open-close height */
    box-sizing: border-box;
}

/* Hamborgar dims:
 * width:  1.9em;
 * height: 1.325em;
 */
nav#main-nav > #nav-open-close > #nav-btn-ctr > .nav-btn-bar {
    width: 1.5em;
    height: 0.175em;
    margin: 0.2em;
    transition-property: background-color, transform;
    transition-duration: 0.35s;
    border-radius: 0.0875em;
}

nav#main-nav.open > #nav-open-close > #nav-btn-ctr > .nav-btn-bar {
    height: 0.15em;
}

nav#main-nav.open > #nav-open-close > #nav-btn-ctr > .nav-btn-bar.top {
    transform: translateY(0.35em) rotate(45deg);
}
nav#main-nav.open > #nav-open-close > #nav-btn-ctr > .nav-btn-bar.mid {
    background-color: transparent !important;
}
nav#main-nav.open > #nav-open-close > #nav-btn-ctr > .nav-btn-bar.bot {
    transform: translateY(-0.35em) rotate(-45deg);
}

nav#main-nav > ul {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin-top: 4.5em; /* see also nav#main-nav > #nav-open-close height */
}

nav#main-nav > ul > li {
    width: 100%;
    box-sizing: border-box;
}

nav#main-nav > ul > li > a {
    width: 100%;
    padding: 0.75em;
    text-align: right;
    box-sizing: border-box;
    display: block;
}

nav#main-nav > ul > li > a:hover {
}

nav#main-nav > #nav-click-catcher {
    position: fixed;
    top: 4.5em;
    bottom: 0;
    left: 20em;
    right: 0;
}

nav#main-nav.closed > #nav-click-catcher {
    display: none;
}

@media all and (min-width: 20em) {
    nav#main-nav {
        max-width: 20em;
    }
}